.contacts-form {
  margin: 0 auto;

  padding: 42px 24px;
  border-radius: 24px;
  background-color: #011c44;
  background-image: url('../img/vector-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../img/vector-bg@2x.png');
  }

  min-width: 250px;
  min-height: 434px;
  width: 100%;
  height: 100%;
  text-align: center;

  @media screen and (min-width: $laptop) {
    margin: 0;
    padding: 48px 56px;
    width: 424px;
  }

  &__promo {
    display: block;
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 600;
    color: var(--lightColor);

    @media screen and (min-width: $laptop) {
      margin-bottom: 32px;
      font-size: 22px;
      font-weight: 600;
    }
  }

  &__field {
    position: relative;
    display: block;
    margin-bottom: 28px;
  }

  &__input {
    width: 100%;
    padding: 16px 24px;
    border-radius: 24px;
    border: 2px solid var(--policeColor);
    font-size: 13px;
    color: var(--lightColor);
    transition: outline var(--duration) var(--timingFunction);
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);

    font-size: 13px;
    color: var(--lightColor);
    transition: transform var(--duration) var(--timingFunction),
      color var(--duration) var(--timingFunction);
  }

  &__privacy {
    display: block;
    margin: 8px auto 0;
    max-width: 214px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--policeColor);

    &-link {
      text-decoration-line: underline;
      text-underline-offset: 2px;
    }
  }
}

// Input states when focused

.contacts-form__field:focus-within > .contacts-form__label,
.contacts-form__input:not(:placeholder-shown) + .contacts-form__label {
  transform: translateY(-40px);
  color: var(--accentColor);

  @media screen and (min-width: $laptop) {
    transform: translateY(-50px);
  }
}

.contacts-form__field:focus-within > .contacts-form__input {
  outline: 2px solid var(--accentColor);
  border: none;
}
