.logo__text {
  font-family: var(--fontHeader);
  font-size: 16px;
  line-height: 0.93;
  text-transform: capitalize;
  color: var(--accentColor);

  @media screen and (min-width: $laptop) {
    font-size: 22px;
    line-height: 0.95;
  }
}
