.nav-container {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  @media screen and (min-width: $laptop) {
    gap: 240px;
  }
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  @media screen and (min-width: $laptop) {
    gap: 56px;
  }
}

.nav__link {
  color: var(--darkColor);
  font-size: 18px;
  font-weight: 400;
  transition: color var(--duration) var(--timingFunction),
    text-shadow var(--duration) var(--timingFunction);
  &:hover,
  &:focus {
    color: var(--accentColor);
    text-shadow: var(--shadow);
  }
}
