.about--padding {
  padding-top: 0;
  @media screen and (max-width: 400px) {
    padding-bottom: 46px;
  }
}

.about--row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
}

.about--inner {
  @media screen and (min-width: $tablet) {
    flex-basis: 710px;
    margin-top: 40px;
  }
}

.about__title {
  @media screen and (max-width: calc($tablet - 1px)) {
    font-family: var(--fontMain);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
  }

  font-family: var(--fontHeader);
}

.about-descr__text {
  font-size: 18px;

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.7;
  }

  .capitalize {
    font-weight: 700;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }
}

.about-img--inner {
  @media screen and (max-width: $tablet) {
    display: none;
  }
}
