.contacts {
  @media screen and (min-width: $tablet) {
    padding-bottom: 96px;
  }

  &__wrap-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 32px;
    }

    &--row {
      @media screen and (min-width: $tablet) {
        order: 1;
      }
    }
  }
}
