.footer {
  padding: 32px 0;

  color: var(--lightColor);
  text-align: center;

  background-color: var(--darkColor);
  background-image: url('../img/vector-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../img/vector-bg@2x.png');
  }

  @media screen and (min-width: $tablet) {
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
    background-image: url('../img/bg-add.png'), url('../img/footer-bg.png');
    background-size: 200px, cover;
    background-position: right bottom, left bottom;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../img/bg-add@2x.png'), url('../img/footer-bg@2x.png');
    }
  }

  & .logo__text {
    display: inline-block;
    text-align: start;
  }

  & .address {
    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }
  }

  & .social-list {
    margin-top: 16px;
    gap: 20px;
    @media screen and (min-width: $laptop) {
      gap: 24px;
    }
  }

  & .social-list__icon {
    width: 32px;
    height: 32px;
    color: var(--lightColor);
  }
}

.footer__inner {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
  }

  @media screen and (min-width: $laptop) {
    gap: 186px;
  }
}

.footer__nav {
  margin-top: 42px;
  margin-bottom: 16px;
  font-size: 14px;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;

    @media screen and (min-width: $laptop) {
      margin-bottom: 16px;
    }
  }

  &__link {
    transition: color var(--duration) var(--timingFunction);

    &:hover,
    &:focus {
      color: var(--accentColor);
    }
  }
}

.address__item:not(:last-child) {
  margin-bottom: 16px;
}

.address__link {
  font-size: 16px;
  transition: color var(--duration) var(--timingFunction);

  &:hover,
  &:focus {
    color: var(--accentColor);
  }
}

.footer__info {
  margin-top: 16px;
  font-size: 14px;

  @media screen and (min-width: $tablet) and (max-width: calc($laptop - 1px)) {
    margin: 0 auto;
  }
  @media screen and (min-width: $laptop) {
    font-size: 16px;
  }
  &-copy {
    margin-top: 8px;
    color: var(--policeColor);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;

    @media screen and (min-width: $laptop) {
      margin-top: 16px;
      font-size: 13px;
      text-align: start;
    }
  }
}
