.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;

  @media screen and (min-width: $tablet) {
    padding: 32px 0;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
      align-items: center;
      gap: 40px;
    }
  }
}
