.hero {
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;

  background-color: var(--darkColor);
  background-image: $hero-overlay, url('../img/hero-bg-mobile.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $hero-overlay, url('../img/hero-bg-mobile@2x.jpg');
  }

  @media screen and (min-width: $laptop) {
    max-width: 1600px;
    padding: 272px 0;

    background-image: $hero-overlay, url('../img/hero-bg-desktop.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: $hero-overlay, url('../img/hero-bg-desktop@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 32px;

  font-family: var(--fontHeader);
  font-weight: 700;
  font-size: 54px;
  line-height: 0.85185;
  text-transform: capitalize;

  &--small {
    font-family: var(--fontMain);
    color: var(--darkColor);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: none;
  }
}

.hero__text {
  margin: 8px auto 0;
  max-width: 186px;

  font-size: 11px;
  line-height: 1.6;
  color: var(--secondaryColor);
  text-align: center;
}
