.hero {
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;

  background-color: var(--lightColor);
  background-image: url('../img/hero-bg-mobile.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../img/hero-bg-mobile@2x.png');
  }

  @media screen and (min-width: $tablet) {
    max-width: 1600px;
    padding: 126px 0;

    background-image: url('../img/hero-bg-desktop.png');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../img/hero-bg-desktop@2x.png');
    }
  }
}

.hero--inner {
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.hero__title {
  margin-bottom: 32px;

  font-family: var(--fontHeader);
  font-weight: 700;
  font-size: 54px;
  line-height: 0.85;
  text-transform: capitalize;

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
    max-width: 530px;
    font-size: 140px;
  }

  &--small {
    display: block;
    font-family: var(--fontMain);
    color: var(--darkColor);
    font-size: 12px;
    line-height: 1.5;
    text-transform: none;

    @media screen and (min-width: $tablet) {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

.hero__text {
  margin: 8px auto 0;
  max-width: 186px;

  font-size: 11px;
  line-height: 1.6;
  color: var(--secondaryColor);
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin: 14px 0 0;
    max-width: 238px;
    font-size: 12px;
    line-height: 1.5;
  }
}
